$primary-yellow: rgb(244, 213, 41) ;
$primary-gray:rgb(37, 42, 55) ;
$primary-hover: rgb(182, 167, 86) ;


// TExto 

$text-light: #fff;

// Background

$background-dark : black;
$background-grey : rgba(238, 234, 234, 0.856);
$background-dark-web : rgb(22, 21, 21);


//border
$border-yellow : rgba(238, 255, 0, 0.432);

// status
$succes: green;
$error: red;

//
//social color

$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin : #0077b5;


